
// variables--------------------
$textC:pink;
$section_height: 250px;
$section_width: 393px;
$backgroundIndex: 0;
$foregroundIndex: 2;
$middlegroundIndex: 1;
$difColor: rgb(9, 199, 126);
$nthChildOddColor:  rgb(255, 255, 255);
$nthChildOddColorOpacity:  rgba(255, 255, 255, 0.892);
$nthChildEvenColor: rgba(218, 218, 218, 0.946);


// --------------------
.App {
  text-align: center;
  background-color: whitesmoke;
}
#navContainer{
width: 100%;  
z-index: $foregroundIndex;
display: flex;
justify-content: flex-end;
background-color: rgba(72, 72, 72, 0.659) ;

  #navBar{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 1%;
    z-index: $foregroundIndex;
   .navLink{
      text-decoration: none;
      color: #ffff;
      &:hover{
        color: $difColor;
      }
    }
  }
  
}

.flexContainer{
display: flex;
justify-content: space-evenly;
flex-wrap: wrap;
width: 100%;
min-width: 393px;

}


#imgContainerProfile{
height: $section_height;
width: $section_width;
// display: flex;
// justify-content: center;

.backgroundImage{ 
  
  width: 100%;
  height: $section_height;
  // z-index: $backgroundIndex;
  image-resolution:inherit;
  clip-path: ellipse(76% 68% at 50% 15%);
   position: fixed;
  background-size:cover;
  background-repeat: no-repeat;
 
  animation: drop_down 3s;
  animation-fill-mode: forwards;

  @keyframes drop_down {
  from { top: -400px;}
  to {top: 0px;
  background-image: url("../images/the-matterhorn-as-seen-from-the-lauterbrunnen-valley-digitally-stitched-by-dominic-kamp.jpg");
    }
  }
}

  .profilePic{
    height: 175px;
    width: 175px;
    border-radius: 50%;
    background-color: rgb(128, 128, 128);
    box-shadow: 2px 2px 4px #3f3f3f83 ;
    z-index: $middlegroundIndex;
    position: absolute;
    top: 51px;
    left: 50%;
    transform: translate(-50%);
    &:hover{
      height: 195px;
      width: 195px;
      cursor: pointer;
      transition-duration: 1s;
    }
  }
}

.section{
  min-height: 200px;
  height: max-content;
  min-width: 340px;
  width: $section_width;
  margin-bottom: 70px;

}

.list{
  :nth-child(even){
    background-color:$nthChildEvenColor;
  }
}
.aboutSectionContainer{
  z-index: $foregroundIndex;
  min-height: 200px;
  height: 40%;
  min-width: 340px;
  margin-bottom: 10px;
  border-radius: 5px ;
  background-color: $nthChildOddColorOpacity;

  h5{

  }
  p{

  }
}

.infoSec{
  padding: 5px;
   :nth-child(odd){
    background-color: $nthChildOddColor;
   }
  }

  .footer{
  bottom: 0px;
   width: 100%;
   min-height: 140px;
   height: 200px
  }

  // EditPage Styling 

 Form .flexContainer{
    width: 100%;
    height: 100%;
    display: flex;
  
    
  }
   .editSectionA{ 
    
  }
  .editSectionB{ 
     
  }
  .editSectionC{ 
     
  }
  .editSectionD{ 
     
  }

  

  @import "~bootstrap/scss/bootstrap";